body {
  font-size: .875rem;
  min-height: 75rem;
  background-color: #f9e7fa;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar-brand:hover {
  color: #f9c3fc !important;
}
.input-group-text {
  width: 65px;
  text-align: center !important;
}